---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "About" }}>
	<section>
		<h1 class="title">About</h1>
		<h2 class="text">A technologist from Australia</h2>
		<p class="text">
			In my engineering career, I've dedicated myself to mastering web development, accumulating
			seven years of commercial experience in maintaining React codebases across various domains,
			from startups to marketplaces and scale-ups. My unwavering passion lies in effective
			engineering leadership, adept project management, and creating front-end solutions.
		</p>
		<section aria-label="Pulse" class="mt-16">
			<h2 class="title mb-4 text-xl">Work</h2>
			<ul class="space-y-4 sm:space-y-2">
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Engineering Manager:</span>
					<span
						><a class="cactus-link" href="https://camplify.com/">Camplify Holdings Limited</a></span
					>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Lead Engineer:</span>
					<span
						><a class="cactus-link" href="https://camplify.com/">Camplify Holdings Limited</a></span
					>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Lead Engineer:</span>
					<a class="cactus-link" href="https://betmakers.com/">Betmakers Technology Group</a>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Senior Engineer:</span>
					<a class="cactus-link" href="https://betmakers.com/">Betmakers Technology Group</a>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Frontend Engineer:</span>
					<a class="cactus-link" href="https://hipagesgroup.com.au/">Hipages Group</a>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Junior Software Engineer:</span>
					<a class="cactus-link" href="https://digivizer.com/">Digivizer</a>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Digital Marketing:</span>
					<a class="cactus-link" href="https://digivizer.com/">Digivizer</a>
				</li>
			</ul>
		</section>
	</section>
</PageLayout>
