---
import SocialList from "../SocialList.astro";
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-sm"
>
	<div class="me-0 sm:me-4">
		<span class="mx-2" aria-label="rocket emoji">⛵️</span>
		Made in Newcastle, Australia
	</div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		<SocialList />
	</nav>
</footer>
