---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import backpack from "../../public/backpack.jpeg";
import climbing from "../../public/climbing.jpeg";
import toastie from "../../public/toastie.jpeg";
---

<PageLayout meta={{ title: "About" }}>
	<section>
		<h1 class="title">About</h1>
		<h2 class="text">A technologist from Australia</h2>
		<div class="mb-10 flex justify-center gap-4">
			<div
				class="rounded-lg border-2 border-gray-200 px-2 pb-10 pt-2 shadow-lg transition-transform hover:-rotate-2 dark:border-neutral-700 dark:bg-neutral-800"
			>
				<Image class="h-20 w-20 sm:h-52 sm:w-52" src={backpack} alt="Profile Image" />
			</div>
			<div
				class="rounded-lg border-2 border-gray-200 px-2 pb-10 pt-2 shadow-lg transition-transform hover:-rotate-2 dark:border-neutral-700 dark:bg-neutral-800"
			>
				<Image class="h-20 w-20 sm:h-52 sm:w-52" src={climbing} alt="Profile Image" />
			</div>
			<div
				class="rounded-lg border-2 border-gray-200 px-2 pb-10 pt-2 shadow-lg transition-transform hover:-rotate-2 dark:border-neutral-700 dark:bg-neutral-800"
			>
				<Image class="h-20 w-20 sm:h-52 sm:w-52" src={toastie} alt="Profile Image" />
			</div>
		</div>
		<p class="text">
			I am Jayden, a seasoned professional in the fields of Product, Design, and Engineering. My
			journey commenced as a teenager, marked by an introduction to Adobe Creative Suite, which
			became the catalyst for my enduring passion for design and technology. Over the years, I held
			positions in digital companies across operations, marketing, design, product, and engineering,
			and built my own ventures. With a track record in award-winning startups, I have cultivated a
			versatile skill set and a nuanced understanding of the intricate interplay between creativity
			and technological innovation.
		</p>

		<p class="text">
			Currently serving as a Director & Chief Technology Officer (CTO) at Stewardship Ventures, my
			agency, I am deeply immersed in directing and shaping the technological landscape of your
			venture into sustainable long-term outcomes. The intersection of Product, Design, and
			Engineering is where I thrive, leveraging my expertise in product-led startups.
		</p>

		<p class="text">
			I am particularly enthused about the impactful work underway at Stewardship Ventures, where
			every day presents an opportunity to apply my wealth of experience and drive innovation. As a
			leader in the realms of Product and Engineering, I am dedicated to pushing the boundaries of
			what is achievable with technology across an entire organisation. My evolution from a
			self-taught enthusiast to an accomplished professional has endowed me with a unique skill set
			that transcends traditional disciplinary confines.
		</p>
	</section>
	<section aria-label="Pulse" class="mb-2 mt-16">
		<h2 class="title mb-4 text-xl">Work</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Director & CTO:</span>
				<span
					><a class="cactus-link" href="https://stewardship.ventures/"
						>Stewardship Ventures PTY LTD</a
					></span
				>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Engineering Lead:</span>
				<span
					><a class="cactus-link" href="https://camplify.com/">Camplify Holdings Limited</a></span
				>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Engineering Lead:</span>
				<span>
					<a class="cactus-link" href="https://betmakers.com/">Betmakers Technology Group</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Frontend Engineer:</span>
				<span>
					<a class="cactus-link" href="https://hipagesgroup.com.au/">Hipages Group</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Software Engineer:</span>
				<span>
					<a class="cactus-link" href="https://digivizer.com/">Digivizer</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Content Marketing:</span>
				<span>
					<a class="cactus-link" href="https://digivizer.com/">Digivizer</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Operations Manager:</span>
				<span>
					<a class="cactus-link" href="/about/">PickleHosting</a>
				</span>
			</li>
		</ul>
	</section>
</PageLayout>
