---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import backpack from "../../public/backpack.jpeg";
import climbing from "../../public/climbing.jpeg";
import toastie from "../../public/toastie.jpeg";
---

<PageLayout meta={{ title: "About" }}>
	<section>
		<h1 class="title">About</h1>
		<h2 class="text">A technologist from Australia</h2>
		<div class="mb-10 flex justify-center gap-4">
			<div
				class="-rotate-2 rounded-lg border-2 border-gray-200 px-2 pb-10 pt-2 shadow-lg transition-transform hover:rotate-2 dark:border-neutral-700 dark:bg-neutral-800"
			>
				<Image class="h-20 w-20 sm:h-52 sm:w-52" src={backpack} alt="Profile Image" />
			</div>
			<div
				class="rounded-lg border-2 border-gray-200 px-2 pb-10 pt-2 shadow-lg transition-transform hover:-rotate-2 dark:border-neutral-700 dark:bg-neutral-800"
			>
				<Image class="h-20 w-20 sm:h-52 sm:w-52" src={climbing} alt="Profile Image" />
			</div>
			<div
				class="rotate-2 rounded-lg border-2 border-gray-200 px-2 pb-10 pt-2 shadow-lg transition-transform hover:-rotate-2 dark:border-neutral-700 dark:bg-neutral-800"
			>
				<Image class="h-20 w-20 sm:h-52 sm:w-52" src={toastie} alt="Profile Image" />
			</div>
		</div>
		<p class="text">
			I am Jayden, a seasoned professional in the fields of Product, Design, and Engineering. My
			journey commenced as a teenager, marked by an introduction to Adobe Creative Suite, which
			became the catalyst for my design and technology passion. Over the years, I held positions in
			digital companies across operations, marketing, design, product, and engineering. With a track
			record in award-winning startups, I have cultivated a versatile skill set and a nuanced
			understanding of creativity and technological innovation.
		</p>
	</section>
	<section aria-label="Pulse" class="mb-2 mt-16">
		<h2 class="title mb-4 text-xl">Career</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Senior Software Engineer:</span>
				<span
					><a class="cactus-link" href="https://covidence.org/"
						>Covidence / Future Evidence Foundation</a
					></span
				>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Technology Startup Mentor:</span>
				<span
					><a class="cactus-link" href="https://stewardship.ventures/">Stewardship Ventures</a
					></span
				>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Lead Software Engineer:</span>
				<span
					><a class="cactus-link" href="https://camplify.com/">Camplify Holdings Limited</a></span
				>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Lead Software Engineer:</span>
				<span>
					<a class="cactus-link" href="https://betmakers.com/">Betmakers Technology Group</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Senior Software Engineer:</span>
				<span>
					<a class="cactus-link" href="https://mudbath.com.au/">Mudbath (ARTC, nib)</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Software Engineer:</span>
				<span>
					<a class="cactus-link" href="https://hipagesgroup.com.au/">Hipages Group</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Software Engineer:</span>
				<span>
					<a class="cactus-link" href="https://digivizer.com/">Digivizer</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Digital Designer:</span>
				<span>
					<a class="cactus-link" href="https://digivizer.com/">Digivizer</a>
				</span>
			</li>
			<li class="flex flex-col gap-x-2 sm:flex-row">
				<span class="min-w-[120px] text-gray-500">Operations Manager:</span>
				<span>
					<a class="cactus-link" href="/about/">PickleHosting (EXIT)</a>
				</span>
			</li>
		</ul>
	</section>
</PageLayout>
