---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "About" }}>
	<section>
		<h1 class="title">Gear</h1>
		<h2 class="text">What makes a productive space</h2>
		<p class="text">Coming soon..</p>
	</section>
</PageLayout>
