---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";
import profile from "../../public/profile.jpeg";
import { Image } from "astro:assets";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title">Jayden Harrod</h1>
		<h2 class="text">Software Engineering Manager</h2>
		<div class="mb-4 flex gap-12">
			<Image class="h-20 w-20 rounded-2xl" src={profile} alt="Profile Image" />
			<p class="text">
				I'm Jayden, a self-taught software engineer passionate about frontend development using
				React. Beyond coding, I create content on YouTube, bootstrap products, and channel my
				creativity into writing music.
			</p>
		</div>
		<section aria-label="Blog post list">
			<h2 class="title mb-4 text-xl">Latest Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
	</section>
</PageLayout>
