---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Software Engineer // Indie Maker</h1>
		<p>Currently at Camplify Holdings Limited (ASX:CHL)</p>
		<p class="mb-16">Previously BetMakers, hipages, nib and Digivizer</p>
		<p class="mb-12">
			In my engineering career, I've focused on mastery of web development with 7 years commerical
			experience maintaining ReactJS codebases in start ups and scale ups. I have a strong passion
			for engineering leadership, project management, and building digital products and brands.
		</p>
		<p class="mb-12">
			I love music production 🎹 / outdoor adventure 🏔️ / bouldering 🧗 / tiny homes 🏡
		</p>
		<p class="mb-16">
			My goal is to build multiple income streams to fund a nomadic, adventurous, and intentional
			lifestyle. This pursuit will span decades and I'll be documenting the journey here in public.
		</p>
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="title mb-4 text-xl">Latest</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
		<section aria-label="Pulse" class="mt-16">
			<h2 class="title mb-4 text-xl">Pulse</h2>
			<ul class="space-y-4 sm:space-y-2">
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Working from:</span>
					<span>Newcastle, Australia</span>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Working on:</span>
					<a href="https://camplify.com" class="cactus-link" target="_blank"
						>Lead Engineer at ASX:CHL</a
					>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Making A:</span>
					<a href="https://youtube.com/jaydenharrod" class="cactus-link" target="_blank">YouTuber</a
					>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Making B:</span>
					<span>TBA 2023</span>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Making C:</span>
					<span>TBA 2024</span>
				</li>
			</ul>
		</section>
	</section>
</PageLayout>
