---
import PageLayout from "@/layouts/Base";
import profile from "../../public/profile.jpeg";
import { Image } from "astro:assets";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title">Jayden Harrod</h1>
		<h2 class="text">Product & Engineering Leader</h2>
		<div class="mb-4 flex gap-8">
			<Image class="h-20 w-20 rounded-2xl" src={profile} alt="Profile Image" />
			<p class="text">
				When I was a teenager, I was lucky enough to get my hands on the Adobe Creative Suite (in
				disk form). I dove headfirst, spending all my time mastering Photoshop, After Effects, and
				Illustrator through countless tutorials.
			</p>
		</div>
		<div>
			<p class="text">
				That early passion for design and technology has led me down an incredibly rewarding path,
				where I've been able to build a versatile career spanning Product, Design, and Engineering
				for multiple award winning Australian startups and bootstrapped ventures.
			</p>
			<p class="text">
				Today, I get to use all that experience as a Director & CTO to help established businesses
				launch successful product offerings as a vehicle for impact and profit at <a
					class="cactus-link"
					target="_blank"
					href="https://stewardship.ventures">Stewardship Ventures</a
				>
				🚀
			</p>
			<p class="text">
				Additionally, I am documenting and sharing my knowledge of product and engineering for
				everyone over on my personal
				<a class="cactus-link" target="_blank" href="https://youtube.com/jaydenharrod"
					>YouTube channel</a
				> 🎥
			</p>
		</div>

		<!-- <section aria-label="Blog post list">
			<h2 class="title mb-4 text-xl">Latest Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section> -->
	</section>
</PageLayout>
