---
import PageLayout from "@/layouts/Base";
import profile from "../../public/profile.jpeg";
import { Image } from "astro:assets";

const yearsOfExperience = new Date().getFullYear() - 2014;
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title">Jayden Harrod</h1>
		<h2 class="text">Senior Software Developer</h2>
		<div class="mb-4 flex gap-8">
			<Image
				class="h-24 w-24 -rotate-2 rounded-lg border-2 border-neutral-200 p-2 shadow-lg transition-transform hover:-rotate-0 hover:scale-105 dark:border-neutral-800 dark:bg-neutral-900"
				src={profile}
				alt="Profile Image"
			/>
			<p class="text">
				I'm an Australian software engineer with {yearsOfExperience} years of experience. Whilst fullstack,
				I have a heavy specialisation towards the frontend utilising ReactJS frameworks. I've worked
				for several award winning startups including hipages, Camplify, Digivizer, and BetMakers.
			</p>
		</div>
		<div>
			<p class="text">
				👔 I help coach founders and content creators scale technology startups with an emphasis on
				sustainable, profit-led business practices. <a
					class="cactus-link"
					target="_blank"
					href="https://stewardship.ventures">Learn more</a
				>
			</p>
			<p class="mb-2">
				🎥 I share original product and engineering content on YouTube to give back to the next
				generation of software engineers wanting to grow their careers.
				<a class="cactus-link" target="_blank" href="https://youtube.com/jaydenharrod">Watch now</a>
			</p>
		</div>

		<!-- <section aria-label="Blog post list">
			<h2 class="title mb-4 text-xl">Latest Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section> -->
	</section>
</PageLayout>
