---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Technical Lead & Indie Maker</h1>
		<p>Currently at Camplify Holdings Limited (ASX:CHL)</p>
		<p class="mb-12">
			Previously BetMakers (ASX:BET), hipages (ASX:HPG), nib (ASX:NIB) and Digivizer
		</p>
		<p class="mb-12">
			For my engineering career, I've focused on mastery of frontend development with ReactJS. I
			also have a strong passion for engineering leadership, project management, and digital
			products. Personally, I love music production, outdoor adventure, climbing, and tiny homes.
		</p>
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="title mb-4 text-xl">Latest</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
		<section aria-label="Pulse" class="mt-16">
			<h2 class="title mb-4 text-xl">Pulse</h2>
			<ul class="space-y-4 sm:space-y-2">
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Working from:</span>
					<span>Australia</span>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Working at:</span>
					<a href="https://camplify.com" class="cactus-link" target="_blank">CHL, Technical Lead</a>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Project A:</span>
					<a href="https://youtube.com/jaydenharrod" class="cactus-link" target="_blank"
						>YouTube Channel</a
					>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Project B:</span>
					<span>TBA 2023</span>
				</li>
				<li class="flex flex-col gap-x-2 sm:flex-row">
					<span class="min-w-[120px] text-gray-500">Project C:</span>
					<span>TBA 2024</span>
				</li>
			</ul>
		</section>
	</section>
</PageLayout>
