---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import stewardship from "../../public/stewardship.png";
---

<PageLayout meta={{ title: "About" }}>
	<section>
		<h1 class="title">Projects</h1>
		<h2 class="text">A collection of innovation and creativity</h2>
		<div class="flex gap-4">
			<a href="https://www.stewardship.ventures">
				<div
					class="rounded-lg border-2 border-neutral-200 p-2 transition-transform hover:scale-105 dark:border-neutral-800 dark:bg-black"
				>
					<Image src={stewardship} width="200" alt="Stewardship" />
					<p class="prose-lg mt-2 text-center font-bold dark:text-white">Stewardship Ventures</p>
				</div>
			</a>
		</div>
	</section>
</PageLayout>
