---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "About" }}>
	<section>
		<h1 class="title">Projects</h1>
		<h2 class="text">A collection of innovation</h2>
		<p class="text">Coming soon..</p>
	</section>
</PageLayout>
